<div class="container">

  <div *ngIf="!isOpen"
        class="form loading-form">

    <div *ngIf="!isNameSetted">
      <span *ngIf="!openFailed">
        Загрузка
      </span>
      <span *ngIf="openFailed">
        Не удалось установить соединение. Повторите попытку позже
      </span>
    </div>

    <div *ngIf="isNameSetted">
      Соединение потеряно. Пожалуйста, обновите страницу.
    </div>

  </div>

  <div *ngIf="isOpen">

    <div *ngIf="!isNameSetted" class="form set-name-form">
      <div class="form-header">
        Введите имя
      </div>
      <div class="name-input">
        <div class="name-input-text">
          Имя:
        </div>
        <div>
          <input class="name-input-control input" [(ngModel)]="name" />
        </div>
      </div>
      <div class="error">
        {{nameError}}
      </div>
      <div class="set-name-form-submit">
        <div (click)="setName()" class="button">
          Подтвердить
        </div>
      </div>
    </div>

    <div *ngIf="isNameSetted" class="form chat-form">

      <div class="messages-container"
           id="chat">
        <div *ngFor="let item of messages"
             class="message-wrapper">
          <div *ngIf="item.senderName === 'System'"
               class="system-message"
               [innerHtml]="item.body">
          </div>
          <div *ngIf="item.senderName !== 'System'"
               class="{{ item.senderName === name ? 'message owned-message' : 'message' }}">
            <div class="message-author">{{item.senderName}}</div>
            <div>{{item.body}}</div>
          </div>
        </div>
      </div>

      <div class="chat-form-elements">
        <input class="input" [(ngModel)]="messageText" />
        <div class="button"
          (click)="sendMessage()">
          Отправить
        </div>
      </div>

    </div>

  </div>

</div>
